
.container-AllPLans {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8E16C;
    box-shadow: 5px 8px #01161E;
    border-radius: 15px;
    width: 500px;
    height: 760px;
    
}

.container-AllPLans h1 {
    color: black;
}

.card-plan {
    width: 450px;
    height: 100px;
    background-color: #156064; 
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 5px 8px #156064;
    text-align: center; 
}

.card-plan button {
    border-radius: 10px;
    border: solid #fff;
    width: 100%;
    height: 100%;
    background-color: #156064;
    font-family: "IBM Plex Mono";
    color: #FFFF;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
