body {
  background-color: #124559;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  height: 100vh;
}

.first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01161E;
  box-shadow: 20px;
  width: 100%;
}

.ter1 {
  height: 80px;
  margin-right: 28px;
}

.ter2 {
  height: 105px;
}

